# Verifying the deployment of LAPS 
- First, on the test client, group policy was updated by running gpupdate /force. Then the machine was restarted.
## GUI method of viewing the passsword 
- This can be found in the 'LAPS' tab under the target machine(s)
<img width="330" height="521" alt="image" src="https://github.com/user-attachments/assets/ccc793ac-e428-4b61-8d64-08df5f7decc8" />

## PowerShell method 
<img width="637" height="202" alt="image" src="https://github.com/user-attachments/assets/915f9ce1-54de-4a1a-a52f-6bdd42d5037c" />

## Login Verification
[Watch the login verificaton here](https://github.com/Msglm05/LAPS-Deployment-Project/releases/download/LAPS-Demo-Video/LAPS.DEMO.mp4)
   
