# Verifying the deployment of LAPS 
- First, on the test client, group policy was updated by running gpupdate /force. Then the machine was restarted.
- 
